@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html, body {
  font-family: 'Montserrat', sans-serif;
  /* color: var(--text-black); */
  background-color: "black";
}

h1,
section, 
p,
span,
svg{
  transition: background-color 0.5s, color 0.5s;
}

:root{
  /* Light theme variables */
  --color-text-light: #333332;
  --color-background-light: #000000;
  --color-pink-light: #e5a1aa;
  --color-green-light: #344d42;
  --color-blue-light: #8395cd;

  /* dark theme variables */
  --color-text-dark: #faf4e5;
  --color-background-dark: #8395cd;
  --text-black: rgb(39, 39, 39);
  --color-background: rgb(249, 253, 241);
  --color-pink: rgb(90, 38, 41);
  
}

.light-theme{
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-pink: var(--color-pink-light);
  --color-green: var(--color-green-light);
  --color-blue: var(--color-blue-light);
  
  /* Testing - adding black background for now */
  background-image: linear-gradient(to bottom, rgb(0, 0, 0),
  rgb(0, 0, 0),rgb(0, 0, 0),rgb(31, 31, 52),rgb(103, 116, 157), rgb(144,130,137));
  /* background-image: linear-gradient(to bottom, rgb(28, 28, 28),
  rgb(24, 19, 19),rgb(36, 38, 63),rgb(103, 116, 157), rgb(144,130,137)); */
  /* background-color:black; */
        /* testing  */
        outline-style: solid;
        outline-color: orange;
}

.dark-theme{
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-pink: var(--color-text-dark);
  --color-green: var(--color-text-dark);
  --color-blue: var(--color-text-dark);
  
  /* Testing - adding black background for now */
  background-color:rgb(0, 0, 0);
}

/* Experience -------------------------------- */
.experience{
  position: relative;
  /* width: 40vw;
  height: 40vh; */
}

.experience-canvas{
  position: absolute;
  top: 100px;
  z-index: -5;

        /* testing  */
      /* outline-style: solid; */
      /* outline-color: rgb(255, 0, 0); */
}


/* Web page itself -------------------------------- */
.page{
  /* z-index: 99999; */
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -4;
  /* width: 50%; */
  transform: translateX(20%);
  /* top: calc(80%); */
  
  top: 120vh;
  
  overflow: hidden;
}

/* nav bar ------------------------------------------*/
.navbar{
  /* background-color: var(--color-background); */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 64px;
  box-shadow: 0px 2px 6px rgba(64, 64, 64, 0.298);
  -webkit-font-smoothing: antialiased; /* make font more smooth */
  /* measurements of header background */
  margin-top: 10px;
  background: none;
  z-index: 1;
  width: 85%;
  padding: 20px 50px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* glass effect */
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);

      /* testing  */
      /* outline-style: solid;
      outline-color: rgb(255, 255, 255); */
}
.navbar-brand{
  float: left;
  width: 300px;
  height: 60px;
  cursor: pointer;
}
.navbar-brand img {
  float: left;
  height: 50px;
  padding-top: 10px;
}
.navbar-brand h1 {
  float: left;
  padding-top: 12px;
  padding-bottom: 4px;
  font-size: 35px;
  color: white;
  height: 60px;
  text-align: middle;
  position: relative;
  z-index: 1;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; 

  padding-top: 8px;
  font-style: normal; 
  font-variant: normal;     
  font-weight: 300; 
  font-stretch: condensed;
  left: 10px;
}
.navbar-list ul{
  font-family: "Roboto Condensed", Arial, sans-serif;
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-list ul li{
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
}
.navbar-list ul li a{
  font-size:18px;
  text-decoration: none;
  color: rgb(220, 220, 220);
  font-weight: bold;
  display: block;
}
/* the try it button */
.navbar-list ul li button{
  font-size: 20px;
  background-image: linear-gradient(to right,#6e6eb5 100%, #634a98 100%);
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  border-radius: 90px;
  text-align: center;
  border: none;
  outline: none;
  /* border-color: rgba(0, 0, 0, 0); */
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
  /* padding: 5px; */
  line-height: 30px;
  padding: 0px;
  display: inline;
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
/* button animation on hover */

.navbar-list ul li button:hover{
  /* transform: translateY(-5px); */
  /* create shadow on hover */
  box-shadow: 0px 0px 10px rgba(255, 255, 255);
  /* Text glow effect */
  text-shadow: 0 5px 10px #ffffff57;
}

/* Dark / Light toggle -------------------------------- */
.toggle-bar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 100000;
}

.sun-wrapper, 
.moon-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.toggle-button{
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  border-radius: 999px;
  margin: 100px 12px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle{
  position: absolute;
  left: 4px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.3s ease-in-out;
}

.toggle-button:hover .toggle-circle{
  transform: scale(0.9);
}

.slide{
  left: 32px;
  /* transform: translateX(28px); */
}

/* Section Formatting -------------------------------- */
/* distance from two informaiton sections */
.section-margin{ 
  height: 1100px;
  width: 100%;
}

.section{
  width: 50%;
  padding: 200px 4%;
  margin: 0;
  background-color: var(--color-background);
}
.left{
  margin-right: auto;
}
.right{
  margin-left: auto;
}

.section-intro-wrapper{
  position: relative;
  padding: 10% 2%;
  border-bottom: 2px solid var(--color-pink);
  border-top: 10px;
  padding-bottom: 270px;
}

.section-detlail-wrapper{
  position: relative;
  padding: 20% 20%;
}

.section-heading{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 32px;
  color: var(--color-text);
}
.section-text{
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  margin-top: 32px;
  color: var(--color-text);
}

/* Fancy Decoration Part of Section  -------------------------------- */

.section-title{
  position: absolute;
  color: var(--color-pink);
}
.section-title-text{
  display: block;
  font-size: 40px;
  font-weight: 400;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
  color: var(--color-pink);
}

.section-number{
  position: absolute;
  margin-bottom: 50px;
  margin-top: -20px;
}

.styleOne,
.styleTwo,
.styleThree{
  position: absolute;
  display: block;
  width: 100%; 
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--color-pink);
  transform-origin: left;
  transform: skewY(-25deg);
}
.styleOne{
  top: 0px;
}
.styleTwo{
  top: 80px;
}
.styleThree{
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--color-pink);
}

.section-number{
  position: absolute;
  bottom: -25px;
  right: 25px;
  color: var(--color-pink); 
}

.page-wrapper{
  position: relative;
  /* top: calc(50% - 50px); */
  /* top: calc(50% - 50px); */
  height: 4500px;
  width: 98vw;
  right: 15px;
  left: 15px;
  padding-left: 10px;
  margin-left: -10px;
  margin-bottom: 10px;

  /* overflow-y: auto; */
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
    /* don't forget that this makes it so that nothing is selectable */
    /* -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none; */
  }

  /* testing  */
  outline-style: solid;
  outline-width: 12px;
  outline-color: rgba(255, 0, 153, 0.744);
}

/* Hero section  -------------------------------- */
.hero1{
  /* width: 100vw; */
  /* height: 100vh; */

  /* testing  delete all below once finished testing*/
  position: absolute;
  width: 97vw;
  height: 100vh;
  margin-top: 8px;
  /* margin-left: 8px; */
  outline-style: solid;
  outline-width: 12px;
  outline-color: green;
}
.hero2{
  /* position: relative; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* top: 100vh;  */
  
/* testing  delete all below once finished testing*/
  position: relative;
  /* top pushed hero2 below hero1 */
  top: 100vh; 
  width: 100%;
  height: 100vh;

  outline-style: solid;
  outline-width: 12px;
  outline-color: rgb(87, 255, 87);
}

.hero1-wrapper{
  position: relative;
  /* This is where you size up the hero section */
  height: 100%;
  width: 100vh;
  margin: 0 auto;
  /* max-width: 1500px; */

    /* testing  */
    /* outline-style: solid;
    outline-color: rgb(4, 0, 255); */
}

.hero1-main{
  position: absolute;
  /* top: calc(50% - 500px); */
  height: 100vh;
  right: 0px;
  left: 0px;
  /* color: var(--color-text); */
  /* testing  */
  outline-style: solid;
  outline-color: red;
  overflow-y: hidden; 
  overflow-x: hidden;

  scrollbar-width: none;
	&::-webkit-scrollbar{
    display: none;
	}
}
.hero2-main{
  position: absolute;
  /* top: calc(50% - 500px); */
  height: 100%;
  right: 0px;
  left: 0px;
  /* color: var(--color-text); */
  /* testing  */
  /* outline-style: solid; */
  /* outline-color: rgb(127, 63, 63); */
  overflow-y: hidden; 
  overflow-x: hidden;

  scrollbar-width: none;
	&::-webkit-scrollbar{
    display: none;
	}
}

.hero1-text{
  position: relative;
  height: 300px;
  padding: 50px;
  top: calc(50% - 35vh);
  left: 0;
  right: 0;
  /* bottom: 400px; */
  display: block;
  font-size: 100px;
  font-family: 'Clan Pro', sans-serif;
  -webkit-user-select:none;   -khtml-user-select:none;  -moz-user-select:none;
  -ms-user-select:none;       -o-user-select:none;      user-select:none;
  /* font-family: Futura, "Trebuchet MS", Arial, sans-serif;  font-weight: 100; */
  /* https://www.myfonts.com/products/ot-cond-news-127248-clan-pro-365143 */
  /* Want to use FF Clan but don't forget to purchase it first */
  align-items: center;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 70px;
  color: #cdcdcd;
  z-index: 0;

  background-color: #494e8e;
  background-image: linear-gradient(rgb(114, 120, 206),rgb(79, 86, 176),rgb(37, 67, 132));
  /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;

  /* testing  */
  /* outline-style: solid;
  outline-color: yellow; */
}
.sub-hero1-text{
  position: relative;
  height: 200px;
  padding: 50px;
  top: calc(50% - 35vh);
  left: 0;
  right: 0;
  /* bottom: 400px; */
  display: block;
  font-size: 40px;
  font-family: 'Clan Pro', sans-serif;
  -webkit-user-select:none;   -khtml-user-select:none;  -moz-user-select:none;
  -ms-user-select:none;       -o-user-select:none;      user-select:none;
  /* font-family: Futura, "Trebuchet MS", Arial, sans-serif;  font-weight: 100; */
  /* https://www.myfonts.com/products/ot-cond-news-127248-clan-pro-365143 */
  /* Want to use FF Clan but don't forget to purchase it first */
  align-items: center;
  text-align: center;
  letter-spacing: 2.5px;
  line-height: 25px;
  color: #cdcdcd;
  z-index: 0;

  /* background-color: #494e8e; */
  /* background-image: linear-gradient(rgb(114, 120, 206),rgb(79, 86, 176),rgb(37, 67, 132)); */
  background-image: linear-gradient(45deg, #919191, #929292);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;

    /* testing  */
    /* outline-style: solid;
    outline-color: yellow; */

}

.hero2-text{
  position: absolute;
  height: 300px;
  padding-top: 200px;
  padding-bottom: 100px;
  top: calc(50% - 55vh);
  left: 0;
  right: 0;
  /* bottom: 400px; */
  /* display: block; */
  font-size: 180px;
  font-family: 'Clan Pro', sans-serif;
  -webkit-user-select:none;   -khtml-user-select:none;  -moz-user-select:none;
  -ms-user-select:none;       -o-user-select:none;      user-select:none;
  /* font-family: Futura, "Trebuchet MS", Arial, sans-serif;  font-weight: 100; */
  /* https://www.myfonts.com/products/ot-cond-news-127248-clan-pro-365143 */
  /* Want to use FF Clan but don't forget to purchase it first */
  align-items: center;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 0px;
  /* color: #c2c2c2; */

  /* background-color: #494e8e; */
  /* background-image: linear-gradient(rgb(190, 166, 216) 30%,rgb(86, 93, 157),rgb(31, 16, 66)); */
  /* background-image: linear-gradient(rgb(26, 76, 54) 30%,rgb(10, 70, 34),rgb(41, 139, 143)); */
  /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */
  background-image: linear-gradient(#ffffff 40%, #0000004b);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;


  /* testing  */
  /* outline-style: solid;
  outline-color: yellow; */
}
/* stars */
.stars{
  background: url(/img/stars.png) repeat;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -3;
  height: 100vh;
  width: 10000px;
  bottom: 120px;

  /* testing  delete all below when finished*/
  /* position: relative; */
  right: 4px;
  left: 4px;
  top: 4px;
  /* bottom:  10px; */
  bottom: calc(75vh - 10px);
  outline-style: solid;
  outline-color: cyan;

}

.twinkling {
  width:200vw;
  height: 100vh;
  background: transparent url(/img/twinkling.png) repeat;
  /* background-color: #ac3d01; */
  background-size: 500px 500px;
  /* background-image: linear-gradient(to bottom,rgb(58, 64, 126,0.2),rgb(103, 116, 157,0.1)); */
  /* background-size: 500px 500px; */
  position: absolute;

  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  /* Don't allow the star screen to be selected */
  -webkit-user-select:none; -khtml-user-select:none;  -moz-user-select:none;
  -ms-user-select:none;     -o-user-select:none;      user-select:none;

  -webkit-animation:move-background 80s infinite cubic-bezier(0,.02,1,.98) alternate;
  -moz-animation:move-background    80s infinite cubic-bezier(0,.02,1,.98) alternate;
  -ms-animation:move-background     80s infinite cubic-bezier(0,.02,1,.98) alternate;
  -o-animation:move-background      80s infinite cubic-bezier(0,.02,1,.98) alternate;
  animation:move-background         80s infinite cubic-bezier(0,.02,1,.98) alternate;
  
}

@keyframes move-background {
  from { -webkit-transform: translate3d( 0vw, 0px, 0px); }
    to { -webkit-transform: translate3d(-50vw, 0px, 0px); }
  }

  .cloud1 { 
    position: absolute; left: -50vw; top: 30vh;
    width: 1600px; height: 800px; scale: 0.25; background: transparent url(/img/Cloud1.png) repeat; 
    background-size: 1600px 800px; z-index: 3;
    animation:move 40s linear infinite;
  }
  .cloud2 { 
    position: absolute; left: -50vw; bottom: 20vh;
    width: 1600px; height: 800px; scale: 0.25; background: transparent url(/img/Cloud2.png) repeat; 
    background-size: 1600px 800px; z-index: 3;
    animation:move 35s linear infinite;
  }
  .cloud3 { 
    position: absolute; left: -50vw; bottom: 35vh;
    width: 1600px; height: 800px; scale: 0.25; background: transparent url(/img/Cloud3.png) repeat; 
    background-size: 1600px 800px; z-index: 3;
    animation:move 47s linear infinite;
  }
  .cloud4 { 
    position: absolute; left: -50vw; bottom: 0vh;
    width: 1600px; height: 800px; scale: 0.25; background: transparent url(/img/Cloud1.png) repeat; 
    background-size: 1600px 800px; z-index: 3;
    animation:move 38s linear infinite;
  }
  @keyframes move {
    from { -webkit-transform: translate3d(-100vw, 0px, 0px); }
      to { -webkit-transform: translate3d( 600vw, 0px, 0px); }
    }

.moon {
background: transparent url(/img/moonSmall.png) no-repeat;
float: right;
width: 400px;
height: 400px;
bottom: 25vh;
position: relative;
z-index: -1;
animation: animate 4s infinite cubic-bezier(0,.02,1,.98) alternate;

/* testing  */
/* outline-style: dotted;
outline-width: 2px;
outline-color: rgb(87, 255, 87); */

@media only screen and (max-width: 768px) {
    width: 300px;
    height: 300px;
  }

}

@keyframes animate {
  to {
  transform: translateY(25px);
  }
}

.hero-second{
  position: absolute;
  top: calc(50% - 50px);
  right: 0px;
  left: 0px;
  color: var(--color-text);


}

.hero-second-subheading{
  font-size: 20px;
  font-weight: 400px;
  color: #fff;
  margin-bottom: 10px;
  color: var(--color-text);
}

/* other colors override */

.blue-text{
  color: var(--color-blue)
}
.blue-border{
  border-color: var(--color-blue)
}
.blue-background{
  background-color: var(--color-blue)
}
.green-text{
  color: var(--color-green)
}
.yellow-text{
  color: var(--color-pink-light);
  text-shadow: 0 0 2px #f9edff;
  font-family: 'Clan Pro', sans-serif;
  letter-spacing: 5px;

}
.green-border{
  border-color: var(--color-green)
}
.green-background{
  background-color: var(--color-green)
}

/* media queries */

@media(max-width: 968px){
  .section{
    width: 100%;
  }
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff; 
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */